{% extends "base.html" %}

{% block content %}
  <h1 class="bg-primary h1-post">Add a new post</h1>

  <form method="post">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="subject" value="{{subject}}">      
    </div>
    <br>
    <div class="form-group">
      <label>Content</label>
      <textarea class="form-control" name="content" rows="10" cols="30">{{content}}</textarea>
    </div>

    <div class="error bg-danger">{{error}}</div>

    <input type="submit" class="btn btn-primary btn-lg">
  </form>

{% endblock %}
