<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

  <h3>{{p.number_likes}}</h3>
  <h3>Likes by:</h3>
  <p>{{p.liked_by}}</p>

  {% for comment in p.comments %}
    <textarea name="comment" cols="60" rows="6" id="{{loop.index - 1}}"> {{comment}}</textarea><a href="/blog/deletecomment/{{p.key().id()}}/{{loop.index - 1}}">Delete comment</a><br>   
  {% endfor %}

  <h2>Created by: {{p.created_by}}</h2>

  <input type="text" name="id" value="{{p.key().id()}}">

  <a href="/blog/editpost/{{p.key().id()}}"><button>Edit Post</button></a>
  <a href="/blog/deletepost/{{p.key().id()}}" class="btn btn-danger">Delete Post</a>
  <a href="/blog/likepost/{{p.key().id()}}" class="btn btn-info">Like Post</a>

  <a href="/blog/{{p.key().id()}}" class="btn btn-success">View Post</a>


</div>



