<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

  <input type="text" name="id" value="{{p.key().id()}}">

  <a href="/blog/editpost"><button>Edit Post</button></a>
  <a href="/blog/deletepost/{{p.key().id()}}" class="btn btn-danger">Delete Post</a>


  <a href="/blog/{{p.key().id()}}" class="btn btn-success">View Post</a>


</div>



