<div class="blog-post">
  <h2 class="blog-post-title">{{p.subject}}</h2>
  <p class="blog-post-meta">{{p.created.strftime("%b %d, %Y")}} by {{p.created_by}}</p>
  <p>{{p._render_text | safe}}</p>
  <a class="btn btn-info" href="/blog/likepost/{{p.key().id()}}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{p.number_likes}}</a>

  {% if p.comments %}
    <h4>Comments:</h4>
    {% for comment in p.comments %}
      <p class="bg-info p-comment" id="{{loop.index}}">{{comment}}</p>
      <span class="bg-warning span-warning">Comment by: {{p.comment_by_list[loop.index - 1]}}</span>
      <a href="/blog/editcomment/{{p.key().id()}}/{{loop.index - 1}}" class="btn btn-warning btn-sm">Edit comment</a>
      <a href="/blog/deletecomment/{{p.key().id()}}/{{loop.index - 1}}" class="btn btn-danger btn-sm">Delete comment</a>
    {% endfor %}
  {% endif %}

  <hr>
  <a href="/blog/{{p.key().id()}}" class="btn btn-primary">View Post</a>
  <a href="/blog/editpost/{{p.key().id()}}" class="btn btn-warning">Edit Post</a>
  <a href="/blog/addcomment/{{p.key().id()}}" class="btn btn-success">Add comment</a>
  <a href="/blog/deletepost/{{p.key().id()}}" class="btn btn-danger">Delete Post</a>
</div>