<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

	<h1>All Restaurants</h1>

	<!--MESSAGE FLASHING EXAMPLE -->
	{% with messages = get_flashed_messages() %}
		{% if messages %}

			<ul>
			{% for message in messages %}
			  <li><strong>{{message}}</strong></li>
			  {% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	<br>
	<a href="{{url_for('newRestaurant')}}"><h2>Create New Restaurant</h2></a>
	<br>
	<br>

	{% for restaurant in restaurants %}

	<div>

		<a href="{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}"><h2>{{restaurant.name}}</h2></a>

		<a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a>
		<a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete</a>
		<br><br>

	</div>


	{% endfor %}
</body>

</html>