{% extends "main.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}	 
    	<div>        
 	       <ul>
    	    {% for message in messages %}
        	    <li class="alert alert-success flash" role="alert"> <strong> {{ message }} </strong> </li>
        	{% endfor %}
        	</ul>
		</div>
    {% endif %}
{% endwith %}

<div class="row">
	<div class="col-3">
		<h2 class="text-primary">Categories</h2>
		{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="/catalog/{{category.name}}/items">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	<div class="col-9">
		<a href="/catalog/items/add" class="btn btn-warning">Add item</a>
		<h2 class="text-primary">Latest Items</h2>
		{% if items %}
		<ul>
			{% for item in items %}
			<li><a href="/catalog/{{item.category.name}}/{{item.name}}">{{ item.name }} <span>({{ item.category.name }})</span></a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>

{% endblock %}